* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#title{
    margin-left: 7.9%;
    font-size: 20px;
    text-align: left;
    color: black;
    margin-top: 1.8%;
    position: absolute;
    font-family: "Nanum Gothic", sans-serif;
    width: 150px;
    z-index: 9999999;
    line-height: 0.7cm;
    color: #4366c5;
}
#panel1{
    width: 100%;
    padding-bottom: 400px;
    overflow-y: hidden;
    position: absolute;
    margin-top: 6%;
    background-color: aliceblue;
}
#paragraph{
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
}
#title2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}
#last{
   background: black;
   padding-bottom: 10px;
}

#slider {
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    text-align: center;
 }
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides {
    padding: 10px;
    background: #fff;
    position: relative;
    z-index: 1;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slides .inner {
    transition: margin-left 800ms;
    width: 400%;
    line-height: 0;
    height: 400px;
 }
 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
 }
 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #ccc;
    margin: 0 10px;
    margin-bottom: 50px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: #444;
 }
 @media screen and (max-width: 900px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(3),
    #slide3:checked ~ #controls label:nth-last-child(4),
    #slide4:checked ~ #controls label:nth-last-child(1) {
       margin: 0;
    }
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
    }
 }
 #left{
    position: absolute;
    margin-left: 5%;
    margin-top: 8%;
    z-index: 100000000;
 }
 #right{
    position: absolute;
    z-index: 100000000000;
    margin-left: 90%;
    margin-top: 8%;
 }
 .images{
    width: 300px;
 }
 .arrows{
    width: 70px;
 }
 #voltitle{
    text-align: center;
    font-size: 40px;
 }
 #list{
    position: absolute;
    margin-left: 4.5%;
    list-style-type: disc;
    font-size: 20px;
    font-family: "Open Sans";
 }
#roles{
    font-size: 25px;
    margin-left: 69%;
    font-family: "Open Sans";
    list-style-type: disc;
}
#signup{
    background: none;
    padding: 30px 70px;
    border-radius: 10px;
    transition: 0.25s;
    color: black;
    font-size: 25px;
    margin-left: 43.4%;
}
#signup:hover{
    background-color: #ff3c00;
    color: white;
}
#description{
    position: absolute;
    width: 650px;
    text-align: center;
    line-height: 1cm;
    font-size: 30px;
    margin-left: 22%;
    font-family: "Open Sans";
    font-weight: 400;
    height: 500px;
    margin-top: 5%;
    color: #4366c5;
}
#list1{
    width: 550px;
}
#list2{
    width: 600px;
}
#comic1{
    width: 700px;
}
#comic2{
    width: 775px;
}
#logotop{
    position: absolute;
    margin-left: 2.6%;
    margin-top: 1.4%;
    width: 80px;
}
#top{
    position: absolute;
    background-color: white;
    padding-right: 100%;
    padding-bottom: 120px;
}
#slideshow{
    margin-top: 32%;
}
#name{
    width: 500px;
    margin-left: 88%;
    margin-top: 2.5%;
    position: absolute;
    font-family: "Nanum Gothic", sans-serif;
    color: #3a3b3c;
    z-index: 1000000000000;
}
#globe{
    position: absolute;
    width: 275px;
    margin-top: 5%;
    margin-left: 62%;
}
@media screen and (min-width: 2000px) and (max-width: 3000px) {
   #description{
       margin-left: 30%;
   }
   #globe{
      margin-left: 57%;
   }
   #slideshow{
      margin-top: 23%;
   }
   #panel1{
      padding-bottom: 17%;
      margin-top: 5%;
   }
   #signup{
      margin-left: 45.5%;
   }
   #name{
      margin-left: 90%;
   }
}
@media screen and (max-width: 1700px) {
   #description{
       margin-left: 5%;
   }
   #globe{
      margin-left: 80%;
   }
   #slideshow{
      margin-top: 27%;
   }
   #panel1{
      padding-bottom: 25%;
      margin-top: 8%;
   }
   #signup{
      margin-left: 37%;
   }
   #name{
      margin-left: 80%;
   }
   #title1{
      margin-left: 11%;
   }
   #list{
      font-size: 15px;
   }
   #roles{
      font-size: 15px;
   }
}