
#title {
    margin-left: 7.9%;
    font-size: 20px;
    text-align: left;
    color: black;
    margin-top: 1.8%;
    position: absolute;
    font-family: "Nanum Gothic", sans-serif;
    width: 150px;
    line-height: 0.7cm;
    color: #4366c5;
 }
 
 body {
    overflow-x: hidden;
 }
 * {
    padding: 0;
    margin: 0;
 }
 
 #panel1 {
    width: 100%;
    padding-bottom: 400px;
    overflow-y: hidden;
    position: absolute;
    margin-top: 7%;
    background-color: aliceblue;
 }
 
 #paragraph {
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
 }
 
 #title2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
 }
 
 #last {
    background: black;
    padding-bottom: 10px;
 }
 
 #slider {
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    text-align: center;
 }
 
 #slider input[type=radio] {
    display: none;
 }
 
 #slider label {
    cursor: pointer;
    text-decoration: none;
 }
 
 #slides {
    padding: 10px;
    background: #fff;
    scroll-snap-type: x mandatory;
    -ms-verrflow-style: none;
    overflow: -moz-scrollbars-none;
 }
 
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 
 #slide1:checked~#slides .inner {
    margin-left: 0;
}

#slide2:checked~#slides .inner {
    margin-left: -100%;
}

#slide3:checked~#slides .inner {
    margin-left: -200%;
 }
 
 #slide4:checked~#slides .inner {
    margin-left: -300%;
 }
 
 #slides .inner {
    transition: margin-left 800ms;
    width: 400%;
    line-height: 0;
    height: 400px;
 }
 
 #slides .slide {
    width: 25%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
 }
 
 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;

    position: relative;
 }
 
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #ccc;
    margin: 0 10px;
    margin-bottom: 50px;
 }
 
 #slide1:checked~#bullets label:nth-child(1),
 #slide2:checked~#bullets label:nth-child(2),
 #slide3:checked~#bullets label:nth-child(3),
 #slide4:checked~#bullets label:nth-child(4) {
    background: #444;
 }
 
 @media screen and (max-width: 900px) {
    #slide1:checked~#controls label:nth-child(2),
    #slide2:checked~#controls label:nth-child(3),
    #slide3:checked~#controls label:nth-child(4),
    #slide4:checked~#controls label:nth-child(1),
    #slide1:checked~#controls label:nth-last-child(2),
    #slide2:checked~#controls label:nth-last-child(3),
    #slide3:checked~#controls label:nth-last-child(4),
    #slide4:checked~#controls label:nth-last-child(1) {
        margin: 0;
    }
    #slides {
        max-width: calc(100% - 140px);
        margin: 0 auto;
    }
 }
 
 #left {
    position: absolute;
    margin-left: 5%;
    margin-top: 8%;

 }
 
 #right {
    position: absolute;
    margin-left: 91%;
    margin-top: 7.6%;
 }
 
 .images {
    width: 300px;
 }
 
 .arrows {
    width: 70px;
 }
 
 #voltitle {
    text-align: center;
    font-size: 40px;
 }
 
 .lists {
    font-size: 20px;
    font-family: "Open Sans";
    font-weight: 400;
    background-color: #4366c5;
    padding: 15px;
    color: white;
 }
 
 .flex-container {
    display: flex;
    flex-direction: row;
    gap: 250px;
    margin-left: 9.8%;
 }
 
 #signup {
    background: none;
    padding: 30px 70px;
    border-radius: 10px;
    transition: 0.25s;
    color: black;
    font-size: 25px;
    margin-left: 43.4%;
 }
 
 #signup:hover {
    background-color: #ff3c00;
    color: white;
 }
 #description {
    position: absolute;
    width: 650px;
    text-align: center;
    line-height: 1cm;
    font-size: 30px;
    margin-left: 22%;
    font-family: "Open Sans";
    font-weight: 400;
    height: 500px;
    margin-top: 5%;
    color: #4366c5;
 }
 
 #list1 {
    width: 250px;
    text-align: center;
 }
 
 #list2 {
    width: 300px;
    text-align: center;
 }
 
 #list3 {
    width: 200px;
    text-align: center;
 }
 
 #comic1 {
    width: 650px;
 }
 
 #comic2 {
    width: 50px;
 }
 
 #logotop {
    position: absolute;
    margin-left: 2.6%;
    margin-top: 1.4%;
    width: 80px;
 }
 
 #top {
    position: absolute;
    background-color: white;
    padding-right: 100%;
    padding-bottom: 120px;
 }
 
 #slideshow {
    margin-top: 32%;
 }
 
 #name {
    width: 500px;
    margin-left: 87%;
    margin-top: 2.5%;
    position: absolute;
    font-family: "Nanum Gothic", sans-serif;
    color: #3a3b3c;

 }
 
 #globe {
    position: absolute;
    width: 275px;
    margin-top: 4%;
    margin-left: 62%;
 }
 
 @media screen and (min-width: 1750px) and (max-width: 3000px) {
    #description {
        margin-left: 30%;
    }
 
    #globe {
        margin-left: 57%;
    }
 
    #slideshow {
        margin-top: 23%;
    }
 
    #panel1 {
        padding-bottom: 17%;
        margin-top: 5%;
    }
 
    #signup {
        margin-left: 45.5%;
    }
 
    #name {
        margin-left: 90%;
        margin-top: 2.1%;
    }
 
    #title {
        margin-left: 6%;
    }
 
    #left,
    #right {
        margin-top: 6%;
    }
 
    #right {
        margin-left: 92.5%;
    }
 }
 
 #volunteer {
    background-color: aliceblue;
    padding-top: 50px;
    padding-bottom: 50px;
 }
 
#fleximages{
    display: flex;
    flex-direction: row;
    gap: 400px;
    margin-left: 240px;
 }
 .images{
    width: 150px;
 }
 #billion{
    font-size: 35px;
 }
 @media screen and (min-width: 1500px) and (max-width: 1700px) {
    #description {
        margin-left: 23%;
    }
 
    #globe {
        margin-left: 63%;
    }
 
    #slideshow {
        margin-top: 33%;
    }
 
    #panel1 {
        padding-bottom: 25%;
        margin-top: 8%;
    }
 
    #signup {
        margin-left: 43.5%;
    }
 
    #name {
        margin-top: 2.5%;
        margin-left: 87%;
    }
 
    #title {
        margin-left: 8%;
    }
 
    #list {
        font-size: 15px;
    }
 
    #roles {
        font-size: 15px;
    }
 
    #panel1 {
        margin-top: 7%;
    }
 }
 
 @media screen and (min-width: 1145px) and (max-width: 1300px) {
    #name {
        margin-left: 85%;
        margin-top: 3%;
    }
 
    #title {
        margin-left: 10%;
        margin-top: 2%;
    }
 
    #panel1 {
        margin-top: 9%;
        padding-bottom: 30%;
    }
 
    #description {
        margin-left: 8%;
    }
 
    #globe {
        margin-left: 70%;
    }
 
    #slideshow {
        margin-top: 40%;
    }
 
    #signup {
        margin-left: 40.1%;
    }
 
    #right,
    #left {
        margin-top: 15%;
    }
    #fleximages{
        gap: 190px;
        margin-left: 200px;
    }
    .flex-container{
        gap: 50px;
    }
 }
 
 @media screen and (min-width: 1045px) and (max-width: 1250px) {
    #name {
        margin-left: 84%;
        margin-top: 2.5%;
    }
 
    #slideshow {
        margin-top: 40%;
    }
 
    #panel1 {
        margin-top: 9%;
        padding-bottom: 30%;
    }
 
    #globe {
        margin-left: 70%;
    }
 
    #description {
        margin-left: 7%;
    }
 
    #title {
        margin-left: 11%;
    }
 
    #right,
    #left {
        margin-top: 13%;
    }
 
    #signup {
        margin-left: 41%;
    }
 }
 
 @media screen and (min-width: 1300px) and (max-width: 1499px) {
    #name {
        margin-left: 85%;
        margin-top: 2.5%;
    }
 
    #slideshow {
        margin-top: 40%;
    }
 
    #panel1 {
        margin-top: 8%;
        padding-bottom: 30%;
    }
 
    #globe {
        margin-left: 65%;
    }
 
    #description {
        margin-left: 12%;
    }
 
    #title {
        margin-left: 10%;
    }
 
    #right,
    #left {
        margin-top: 13%;
    }
 
    #signup {
        margin-left: 42%;
    }
    #fleximages{
        gap: 250px;
        margin-left: 200px;
    }
    .flex-container{
        gap: 100px;
    }
 }
 
@media screen and (min-width: 385px) and (max-width: 390px) {
    #slideshow {
        margin-top: 275px;
    }
 
    #description {
        font-size: 15px;
        width: 250px;
        margin-left: 1%;
        margin-top: 5%;
    }
 
    #slides {
        height: 400px;
        overflow-y: hidden;
        touch-action: pan-y;
    }
 
    #slides.inner {
        padding-top: 2px;
        height: 200px;
    }
 
 
    #panel1 {
        margin-top: 25%;
        padding-bottom: 65%;
    }
 
    .flex-container {
        flex-direction: column;
        gap: 20px;
    }
 
    #volunteer {
        padding-right: 60px;
    }
 
    #slides {
        overflow-x: hidden;
    }
 
    #left {
        display: none;
    }
 
    #right {
        display: none;
    }
 
    #title {
        margin-left: 24%;
        margin-top: 3%;
    }
    #name {
        margin-left: 280px;
        width: 100px;
        text-align: center;
        font-size: 15px;
        margin-top: 4.4%;
    }
 
 
    #globe {
        width: 125px;
        margin-left: 260px;
        margin-top: 60px;
    }

    #fleximages {
        flex-direction: column;
        position: absolute;
        gap: 60px;
        margin-left: 285px;
        margin-top: 20px;
    }
    .images{
        width: 85px;
    }
    #voltitle {
        margin-left: 75px;
    }
 
    #signup {
        margin-left: 75px;
    }
    .lists{
       font-size: medium;
    }
    #list2{
       width: 200px;
    }
    #list1{
       width: 200px;
    }
    #billion{
        font-size: 20px;
    }
    #comic1{
        width: 237px;
    }
    #comic2{
        width: 100px;
    }
    #comic3{
        width: 50px;
    }
    #signup{
        background-color: #4366c5;
        color: white;
        margin-left: 85px;
    }
    #bullets{
        margin-top: 20px;
    }
 }
 @media screen and (min-width: 391px) and (max-width: 480px){
    #slideshow {
        margin-top: 275px;
    }
 
    #description {
        font-size: 15px;
        width: 250px;
        margin-left: 4%;
        margin-top: 5%;
    }
 
    #slides {
        height: 400px;
        overflow-y: hidden;
        touch-action: pan-y;
    }
 
    #slides.inner {
        padding-top: 2px;
        height: 200px;
    }
 
 
    #panel1 {
        margin-top: 25%;
        padding-bottom: 65%;
    }
 
    .flex-container {
        flex-direction: column;
        gap: 20px;
    }
 
    #volunteer {
        padding-right: 60px;
    }
 
    #slides {
        overflow-x: hidden;
    }
 
    #left {
        display: none;
    }
 
    #right {
        display: none;
    }
 
    #title {
        margin-left: 22%;
        margin-top: 3%;
    }
    #name {
        margin-left: 325px;
        width: 100px;
        text-align: center;
        font-size: 15px;
        margin-top: 4.4%;
    }
 
 
    #globe {
        width: 140px;
        margin-left: 280px;
        margin-top: 60px;
    }

    #fleximages {
        flex-direction: column;
        position: absolute;
        gap: 60px;
        margin-left: 295px;
        margin-top: 20px;
    }
    .images{
        width: 85px;
    }
    #voltitle {
        margin-left: 75px;
    }
 
    #signup {
        margin-left: 75px;
    }
    .lists{
       font-size: medium;
    }
    #list2{
       width: 200px;
    }
    #list1{
       width: 200px;
    }
    #billion{
        font-size: 20px;
    }
    #comic1{
        width: 237px;
    }
    #comic2{
        width: 100px;
    }
    #comic3{
        width: 50px;
    }
    #signup{
        background-color: #4366c5;
        color: white;
        margin-left: 95px;
    }
    #bullets{
        margin-top: 20px;
    }
 }

 @media screen and (max-width: 384px) {
    #slideshow {
        margin-top: 275px;
    }
 
    #description {
        font-size: 15px;
        width: 250px;
        margin-left: 1%;
        margin-top: 5%;
    }
 
    #slides {
        height: 400px;
        overflow-y: hidden;
        touch-action: pan-y;
    }
 
    #slides.inner {
        padding-top: 2px;
        height: 200px;
    }
 
 
    #panel1 {
        margin-top: 25%;
        padding-bottom: 65%;
    }
 
    .flex-container {
        flex-direction: column;
        gap: 20px;
    }
 
    #volunteer {
        padding-right: 60px;
    }
 
    #slides {
        overflow-x: hidden;
    }
 
    #left {
        display: none;
    }
 
    #right {
        display: none;
    }
 
    #title {
        margin-left: 24.5%;
        margin-top: 3%;
    }
    #name {
        margin-left: 270px;
        width: 100px;
        text-align: center;
        font-size: 15px;
        margin-top: 4.4%;
    }
 
 
    #globe {
        width: 120px;
        margin-left: 260px;
        margin-top: 60px;
    }

    #fleximages {
        flex-direction: column;
        position: absolute;
        gap: 60px;
        margin-left: 285px;
        margin-top: 20px;
    }
    .images{
        width: 85px;
    }
    #voltitle {
        margin-left: 75px;
    }
 
    #signup {
        margin-left: 75px;
    }
    .lists{
       font-size: medium;
    }
    #list2{
       width: 200px;
    }
    #list1{
       width: 200px;
    }
    #billion{
        font-size: 20px;
    }
    #comic1{
        width: 237px;
    }
    #comic2{
        width: 100px;
    }
    #comic3{
        width: 50px;
    }
    #signup{
        background-color: #4366c5;
        color: white;
        margin-left: 80px;
    }
    #bullets{
        margin-top: 20px;
    }
 }